@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Vina+Sans&display=swap');
body{
    background-image: url('https://images5.alphacoders.com/876/876590.png');
}
.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(21, 21, 21, 0.966);
    border-radius: 10px;
  }
  
  .loginbox h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .loginbox .userbox {
    position: relative;
  }
  
  .loginbox .userbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .loginbox .userbox label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff9f;
    pointer-events: none;
    transition: .5s;
  }
  
  .loginbox .userbox input:focus ~ label,
  .loginbox .userbox input:valid ~ label {
    font-family: 'Bruno Ace SC', cursive;
    top: -40px;
    left: 0;
    color: #81d6deca;
    font-size: 22px;
  }
  
  .loginbox form button {
    background: rgba(0, 0, 0, 0);
    font-family: 'Bruno Ace SC', cursive;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .loginbox button:hover {
    background: #4cd4cf;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f41f0d,
                0 0 25px #03e8f4,
                0 0 50px #00e1ff,
                0 0 100px #03e9f4;
  }


  

  


 